# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage & test output
coverage/

# IDE / Editor folders
.vscode/
.idea/

# Build folders
dist/
build/

# JSON Database backup/temp files
src/data/*.bak
src/data/*.tmp
